{% extends 'common/base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/posts/board.css">




<div id="board">
    <div id="board__filter" class="zuzu__container">


        <div id="board__filter__title">Filter</div>
        <div id="board__filter__search">
            <input id="board__filter__search__input" type="text">
            <div id="board__filter__search__icon"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <div id="board__content" class="zuzu__container">asdasd</div>
</div>



{% endblock %}