{% extends 'common/base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/posts/board.css">




<div id="board">
    <div id="board__filter" class="zuzu__container">
        <div id="board__filter__title">원하는 정보를 찾아보세요.</div>
        <div id="board__filter__search">
            <input id="board__filter__search__input" type="text">
            <div id="board__filter__search__icon"><i class="fas fa-search"></i></div>
        </div>
        <div class="board__filter__checkbox">
            <div id="board__filter__checkbox__title">
                <div id="board__filter__checkbox__title__text">프로그래밍 언어</div>
                <div id="board__filter__checkbox__title__icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">python</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    37
                </div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">java</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    167
                </div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">javascript</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    112
                </div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">c++</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    20
                </div>
            </div>
        </div>

        <div class="board__filter__checkbox">
            <div id="board__filter__checkbox__title">
                <div id="board__filter__checkbox__title__text">경력</div>
                <div id="board__filter__checkbox__title__icon"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">신입</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    51
                </div>
            </div>
            <div class="board__filter__checkbox__item">
                <div class="board__filter__checkbox__item__checkbox zuzu__checkbox zuzu__checkbox__checked">
                    <i class="fas fa-check"></i>
                </div>
                <div class="board__filter__checkbox__item__text">경력</div>
                <div class="board__filter__checkbox__item__amount board__filter__checkbox__item__amount__checked">
                    285
                </div>
            </div>
        </div>


    </div>
    <div id="board__content" class="zuzu__container">



    </div>
</div>


<div id="sentinel" style="height: 30px; width: 100%; background-color: lightblue;"></div>


<script>


    $(document).ready(function() {

    

    const attachInfiniteScroll = (sentinel, scrollElement) => {

        let counter = 1;
        let end = false;
        let observer = new IntersectionObserver(async(entries) => {
            let bottomEntry = entries[0];
            if (!end && bottomEntry.intersectionRatio > 0) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {
                        "counter": counter,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    url: "{% url 'posts:board-scroll' %}",
                    success: function(response) {
                        if (response.msg == "success") {

     
                            let new_posts = JSON.parse(response.board)
                            
                  
                            let new_html = ''
                            new_posts.forEach(post => {
                                
                                
                                new_html += 
                            `        
                            <div class="board__content__item">
                                <div class="board__content__item__head">
                                    <img class="board__content__item__head__img" src="/static/img/logo/${Math.floor(Math.random() * 6)}.png" alt="" srcset="">
                                </div>
                                <div class="board__content__item__body">
                                    <div class="board__content__item__body__company">${post.fields.title}</div>
                                    <div class="board__content__item__body__position">${post.fields.content}</div>
                                    <div class="board__content__item__body__location">${post.fields.location}</div>
                                    <div class="board__content__item__body__filter">
                                        <div class="board__content__item__body__filter__item">${post.fields.career}</div>
                                        <div class="board__content__item__body__filter__item">${post.fields.language}</div>
                                    </div>
                                </div>
                                <div class="board__content__item__tail">
                                    <div class="board__content__item__tail__salary">${post.fields.salary}</div>
                                    <div class="board__content__item__tail__deadline">~ ${post.fields.deadline}</div>
                                </div>
                            </div>
                            `
                            });
                            $("#board__content").append(new_html)

                        } else {
                            end = true;
                        }
                    },
                    error: function() {
                        print("error")
                    }
                }).then(() => {
                    counter += 1;
                })
            }
        })
        observer.observe(sentinel);
    };
    let sentiner = document.querySelector("#sentinel")
    let scrollElement = document.querySelector("#board")
    attachInfiniteScroll(sentiner, scrollElement);
})
</script>
{% endblock %}